<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title></title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
		crossorigin="anonymous" />
</head>

<body>
	<section>
		<div class="container ">
			<div class="row mt-4">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-2">
						<h3 class="text-center">New Password</h3>
						<hr>
						
						
						<form class="form" method="post" th:action="@{/change-password}">
							<div class="form-group">
								<label>Enter new password</label>
								<input type="text" name="newpassword" placeholder="Enter Here" class="form-control"
									required />
							</div>
							<div class="container text-center">
								<button class="btn btn-success">Change password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
	</section>

</body>

</html>